<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global Scope - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="css/main.css">
    
</head>
<body class="mt-5">
    <div class="container mx-auto text-center">
        <h1>Global Scope</h1>
        <h3>Read and create blogs made by people all over the globe!</h3>
        <p>This is where you can read and create blogs from anywhere in 
            the world at anytime.</p>
            <p>Under this there are two links: How To Create A Blog, and Read Blogs
                One is going to navigate you to how to create a blog to the way that 
                you want it and the other  link will take you to all of the blogs that have been posted on the page.</p>
        <a href="Create-blog">How to create a blog</a></br>
        <a href="Blogs">View blogs</a>
    </div>
</body>
<script src="/js/main.js"></script>
</html>