<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global Scope - Home</title>
</head>
<body>
    <h1>Global Scope</h1>
    <h3>Read and create blogs made by people all over the globe!</h3>
</body>
</html>