<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global Scope - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="css/main.css">
    
</head>
<body class="mt-5">
    <div class="container mx-auto text-center">
        <h1>Global Scope</h1>
        <h3>Read and create blogs made by people all over the globe!</h3>
        <p>Make and pull up blogs anywhere, any time! As long as you have connection or the servers don't explode.</p>
        <br>
        <h4><a href="/create-blog">Create a Blog</a></h4></br>
        <h4><a href="/view-blog">View Blogs</a></h4>
    </div>
</body>
<script src="/js/main.js"></script>
</html>