<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global Scope - Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  type="text/css" href="css/main.css">
</head>
<body class="mx-auto mt-5">
    <div class="container mx-auto text-center">
        <h1>Create blogs that are read around the world</h1>
        <h3>Create your blog here!</h3>
        <form action="/view-blog" method="POST">
            <input class="mx-auto mt-2" type="text" placeholder="Title" name="blogtitle"><br>
            <textarea class="mx-auto mt-2" type="text" placeholder="Body" name="blogbody" id cols="30" rows="15" width="700px" height="420px"></textarea><br>
            <button class="mx-auto mt-2" type="submit">Post</button>
        </form>
    </div>
    <br><br>
    <div class="container mx-auto text-center">
        <h5><a href="/blog">Home</a></h5><br>
        <h5><a href="/view-blog">View Blogs</a></h5>
    </div>
</body> 
<script src="/js/main.js"></script>
</html>